/* standard controls */
/*.sapMSF {
    position: relative;
    -moz-user-modify: read-only;
    -webkit-user-modify: read-only;
    -webkit-user-select: none;
    user-select: none;
    box-sizing: border-box;
    width: 100%;
    min-width: 7rem;
    height: 2.5rem;
    background: transparent;
    padding: 0.0 0;
}

.sapMLIB {
	background: #fffffffb;
}
*/
.sapMLIBHoverable:hover {
    box-shadow: 0px 0px 3px #000000 !important;
    -webkit-transition: all 150ms ease-in !important;
	-webkit-transform: perspective(5px) translateZ(0);
	transform: perspective(5px) translateZ(0);
	position: relative;
	/*overflow: hidden*/;
}



/* extended standard controls */
.customBtnInner>.sapMBtnInner {
	font-family: "Arial",Helvetica,Arial,sans-serif;
    font-size: 16px !important;
    height: 42px !important;
	position: relative !important;
}

/* custom definitions */
.customMListFtr {
	height: 0.05rem;
    box-sizing: border-box;
    font-size: 0.875rem;
    line-height: 2rem;
    background-color: #ceddec;
    color: #333333;
    padding: 0 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.customUiSmallMarginBeginEnd {
    margin-left: 1rem;
    margin-right: 1.6rem;
}

.customScrollIndicator:before {
	content: '▾';
	color: #fff;
	position: absolute;
	opacity: 0.7;
	background: #000;
	font-size: 30px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 50%;
	bottom: 20px;
	left: 50%;
	animation: bounce 1s ease infinite;
}

@keyframes bounce {
  50% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}

.customMVBox {
	
}

.customTextTags {
	border-radius: 7px;
	padding: 3px 3px 3px 3px;
	color: #FFF!important;
	background: #678bc7c7;
	font-size: small!important;
}

.customH1MText {
	font-family: "Lato",Helvetica,Arial,sans-serif;
    font-weight: 100;
    font-size: 36px;
    margin-top: 32px;
    margin: .20em 0;
    line-height: 1.1;
    color: #e8e8e8b0;
    letter-spacing: 1px;
}

.customH2MText {
	font-family: "Lato",Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: 100;
    margin-top: 10px;
    margin: .70em 0;
    line-height: 1.1;
    color: #e8e8e8b0;
    letter-spacing: 1px;
}

.customDiv {
	font-family: "Lato",Helvetica,Arial,sans-serif;
    font-size: 12px;
    margin-top: 14px;
    color: #ceddec;
}